/* .movies__line {
  width: 83%;
  margin: 0 30px;
  padding: 0 30px;
  border-top: 1px solid #e8e8e8;
}
@media screen and (max-width: 820px) {
  .movies__line {
    width: 92%;
  }
}
@media screen and (max-width: 500px) {
  .movies__line {
    width: 93%;
    padding: 0;
  }
} */
