.about-project{
    width: 100%;
    height: 608px;
}

@media screen and (max-width: 768px) {
    .about-project {
       height: 585px;
    }
}
@media screen and (max-width: 530px) {
    .about-project {
        height: 641px;
     }
}
.about-project__box{
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
}
@media screen and (max-width: 768px) {
    .about-project__box {
       padding-left: 50px;
    }
}
@media screen and (max-width: 450px) {
    .about-project__box {
       padding-left: 18px;
    }
}

.about-project__name{
    margin: 0;
    padding-top: 110px;
    padding-bottom: 23px;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid black;
    width: 94%;
}
@media screen and (max-width: 768px) {
    .about-project__name {
        padding-top: 90px;
    }
}
@media screen and (max-width: 530px) {
    .about-project__name {
        padding-top: 70px;
        padding-bottom: 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }
}

.about-project__list{
    width: 94%;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 70px 0 110px;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .about-project__list {
        margin-bottom: 90px;
        column-gap: 24px;
    }
}
@media screen and (max-width: 600px) {
    .about-project__list {
        margin: 4px 0 60px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .about-project__list-element {
        margin-top: 56px;
    }
}
.about-project__list-name{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}
@media screen and (max-width: 600px) {
    .about-project__list-name {
        font-size: 18px;
    }
}
.about-project__list-description{
    margin: 25px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
@media screen and (max-width: 768px) {
    .about-project__list-description {
        margin-top: 19px;
    }
}
@media screen and (max-width: 530px) {
    .about-project__list-description {
        margin-top: 16px;
        font-size: 12px;
        line-height: 16px;
    }
}
.about-project__bar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 94%;
}
@media screen and (max-width: 768px) {
    .about-project__bar {
        grid-template-columns: 21% 78%;
        font-size: 11px;
    }
}
@media screen and (max-width: 530px) {
    .about-project__bar {
        grid-template-columns: 35% 65%;
        font-size: 11px;
    }
}
.about-project__bar-backend{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background: #2BE080;
}
@media screen and (max-width: 530px) {
    .about-project__bar-backend {
        font-size: 11px;
    }
}
.about-project__bar-frontend{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background: #F2F2F2;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 530px) {
    .about-project__bar-frontend {
        font-size: 11px;
    }
}
.about-project__bar-text{
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
@media screen and (max-width: 530px) {
    .about-project__bar-text {
        font-size: 11px;
        line-height: normal;
    }
}